<div class="paginas">



  <%= render "clients/form", name: "Editar",  data: { confirm: 'Desea guardar cambios' } %>

  <br>
  <div align="center">
    <table ><tr>
      <td width="100"><%=link_to 'Ver', @client%></td>
      <td width="100"><%=link_to "Atrás", clients_path %></td>
    </tr>
    </table>
  </div>

  </div>