<div class="paginas">
  <div align="center">
<h4 align="center">Editar</h4>
<%= render 'form',  data: { confirm: 'Desea guardar cambios'}  %>
</div>
    <br>
    <div align="center">
      <table ><tr>
        <td width="100"><%=link_to 'Ver', @society%></td>
        <td width="100"><%=link_to "Atrás", societies_path %></td>
      </tr>
      </table>
    </div>
</main>
</div>