<main><div class="paginas">
<%= render 'form',  data: { confirm: 'Desea guardar cambios'}  %>
<div align="center">
</div>
  <br>
  <div align="center">
    <table ><tr>
      <td width="100"><%=link_to 'Ver', @category%></td>
      <td width="100"><%=link_to "Atrás", categories_path %></td>
    </tr>
    </table>
  </div>
</div>
</main>