<div class="paginas">
<h1>Editing Client Course</h1>

<%= render 'form',  data: { confirm: 'Desea guardar cambios'}  %>
<br>
<div align="center">
  <table ><tr>
    <td width="100"><%=link_to 'Ver', @client_course%></td>
    <td width="100"><%=link_to "Atrás", client_courses_path %></td>
  </tr>
  </table>
</div>
</div>