<h1>Editing Receipt</h1>

<%= render 'form',  data: { confirm: 'Desea guardar cambios'}  %>
<br>
<div align="center">
  <table ><tr>
    <td width="100"><%=link_to 'Ver', @receipt%></td>
    <td width="100"><%=link_to "Atrás", receipts_path %></td>
  </tr>
  </table>
</div>

